<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style type="text/css">

        .left-sidebar {
            width: 200px;
            height: 300px;
            background-color: red;
            float: left;
        }

        .main {
            margin-left: 200px;
            height: 300px;
            background-color: blue;
        }
    </style>
</head>
<body>
<div>
    <div class="left-sidebar"></div>
    <div class="main">Main</div>
</div>
</body>
</html>